src/pug/article.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-1
    main
      .container.section
        .row
          .col
              p Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.
              p Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.
                br
                |Ligula est, id ac leo, blandit duis quisque. Dui lobortis vel lacus urna dictum cursus sem. Ipsum in sit pellentesque quis ac neque. Adipiscing rutrum imperdiet felis, egestas. Arcu, aliquam arcu mattis scelerisque tempus. Arcu, tempus fusce auctor nam sit ac sed proin hendrerit.
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.                  
              p Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.              
      section.section
        .container
          .row
            .col
              h4 Другие статьи
          include includes/material-card-section
     
    include includes/footer
    include includes/bottom-scripts

article.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap&subset=cyrillic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <title>Страница | Инженерный центр «АКВИЛ»</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <div class="logo">
                    <div class="logo__icon"><img class="img-fluid" src="img/icons/triangle.svg" width="20" alt=""></div><a class="logo__link" href="#">АКВИЛ</a>
                    <p class="logo__text">ИНЖЕНЕРНЫЙ ЦЕНТР<br>САМАРСКИЙ УНИВЕРСИТЕТ</p>
                </div><a class="nav-link navbar-nav__link phone navbar__phone" href="tel:+7(846)205-65-51">+7 (846) <span style="font-size:1.5em;">205-65-51</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item dropdown"><a class="nav-link navbar-nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Что мы делаем</a>
                            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dropdown-menu-custom__submenu"><a class="dropdown-menu-custom__title dropdown-menu-custom__link" href="/solutions.html">Готовые решения</a>
                                                <ul>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Робототехника</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Автоматизация систем</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dropdown-menu-custom__submenu"><a class="dropdown-menu-custom__title dropdown-menu-custom__link" href="#">Исследования</a>
                                                <ul>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Лазерные измерения</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Акустика</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Материаловедение </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">О нас</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Новости</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Статьи</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Контакты</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><img class="navbar-nav__icon" src="img/icons/globe.svg" width="20" alt=""></a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><img class="navbar-nav__icon" src="img/icons/search.svg" width="20" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="after-fixed-navbar">
            <div class="section header-edition-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="header-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                                    </ol>
                                </nav>
                                <article>
                                    <h1 class="header-edition-1__title">Mattis eu amet pellentesque justo arcu suspendisse mauris</h1>
                                    <p class="header-edition-1__description">Magna nibh sed turpis aliquet porttitor sed odio. In elit nunc, leo neque morbi vivamus. Nec at eu, ut nulla bibendum. Proin euismod ut volutpat arcu mollis sed dignissim.</p>
                                </article><a class="btn" href="#">Задать вопрос</a>
                            </div>
                        </div>
                        <div class="col-md-12 text-center col-lg-4 header-edition-1__image-block"><img class="img-fluid" src="img/robot.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container section">
            <div class="row">
                <div class="col">
                    <p>Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.</p>
                    <p>Consequat bibendum vehicula urna, purus ullamcorper enim pharetra. Sed tellus, egestas consequat tristique tellus vel gravida. Eleifend sed sapien ut arcu quam facilisi a pulvinar pharetra. Sit id eleifend mi venenatis sed euismod. Elementum, nec magna in sed cras. Ut id risus nunc ullamcorper velit, id eu a. Eu sapien amet pellentesque morbi eu, lacus, hac donec. Sit odio habitasse nunc interdum consectetur. Porttitor est tortor quis quis non sed nulla. Arcu tristique orci, convallis congue vitae. Venenatis, integer vulputate ultricies ac in. Vehicula tincidunt integer risus ante viverra.</p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci.<br>Ligula est, id ac leo, blandit duis quisque. Dui lobortis vel lacus urna dictum cursus sem. Ipsum in sit pellentesque quis ac neque. Adipiscing rutrum imperdiet felis, egestas. Arcu, aliquam arcu mattis scelerisque tempus. Arcu, tempus fusce auctor nam sit ac sed proin hendrerit.</p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                    <p>Id lorem in sed quis laoreet. Lectus at egestas vel egestas est. Mi nulla venenatis, convallis quam diam est. Porta risus diam sem quam est. Mauris, odio in amet lectus ut feugiat vel tristique. Fusce nisl massa lacus, nunc, quam maecenas volutpat vitae. Eget molestie quam diam pretium eget pellentesque pharetra. Eu eget augue in morbi. Pellentesque at sollicitudin convallis orci. </p>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Другие статьи</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="material-card">
                            <div class="material-card__image"><a href="#"><img class="img-fluid" src="img/material-card-image.png" alt=""></a></div>
                            <div class="material-card__content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                                    </ol>
                                </nav><a class="material-card__title" href="#">Ultrices feugiat quam adipiscing</a>
                                <div class="material-card__preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus congue sodales semper magna vitae suspendisse nec penatibus. Egestas maecenas eget nam commodo molestie...</div><a class="material-card__read-more" href="#">Читать дальше...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="material-card">
                            <div class="material-card__image"><a href="#"><img class="img-fluid" src="img/material-card-image.png" alt=""></a></div>
                            <div class="material-card__content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                                    </ol>
                                </nav><a class="material-card__title" href="#">Ultrices feugiat quam adipiscing</a>
                                <div class="material-card__preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus congue sodales semper magna vitae suspendisse nec penatibus. Egestas maecenas eget nam commodo molestie...</div><a class="material-card__read-more" href="#">Читать дальше...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="material-card">
                            <div class="material-card__image"><a href="#"><img class="img-fluid" src="img/material-card-image.png" alt=""></a></div>
                            <div class="material-card__content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                                    </ol>
                                </nav><a class="material-card__title" href="#">Ultrices feugiat quam adipiscing</a>
                                <div class="material-card__preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus congue sodales semper magna vitae suspendisse nec penatibus. Egestas maecenas eget nam commodo molestie...</div><a class="material-card__read-more" href="#">Читать дальше...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer__logo">
                                <div class="logo">
                                    <div class="logo__icon"><img class="img-fluid" src="img/icons/triangle.svg" width="20" alt=""></div><a class="logo__link" href="#">АКВИЛ</a>
                                    <p class="logo__text">ИНЖЕНЕРНЫЙ ЦЕНТР<br>САМАРСКИЙ УНИВЕРСИТЕТ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="footer__contacts">
                                <p>Самара, Московское шоссе, 154, корпус 1</p>
                                <p><a class="footer__contact" href="tel:+7-846-456-51-54"> +7-846-456-51-54</a>,<a class="footer__contact" href="tel:+7-927-135-46-12"> +7-927-135-46-12</a></p>
                                <p><a class="footer__contact" href="mailto:info@akvil.ru">info@akvil.ru</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer__nav footer__nav_main-menu">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__nav-link active" href="#">Главная</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Новости</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Статьи</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer__divider">
                    <div class="footer__nav">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__title footer__nav-link" href="#">Готовые решения</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Робототехника</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Стенды</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акустика</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">ИИ</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Автоматизация систем</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Платформа Стюарта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer__divider">
                    <div class="footer__nav">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__title footer__nav-link" href="#">Исследования</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Лазерные измерения</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акустика</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Материаловедение</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Горение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/dev-scripts.js"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>
