src/pug/solutions.pug
doctype html
html(lang="ru")
  include includes/head
  body
    header
      include includes/navbar
      .after-fixed-navbar
        include includes/header-edition-2
    main
      .container.section
        .row
          .col
            p Pellentesque placerat consequat tristique interdum aliquet. Hendrerit eu duis urna eu. Pellentesque tortor ac urna massa ultrices ipsum, commodo quis. Bibendum ullamcorper sit ullamcorper donec elementum. Vulputate mi vitae orci lectus enim ullamcorper venenatis. Ornare lectus felis, orci, gravida. Sed ornare nulla quisque at elit, sed. Leo urna sapien in nunc cursus amet volutpat. Cursus libero habitasse sollicitudin massa venenatis aliquet nec faucibus. Non sit nam ut mi, sodales senectus dolor lorem amet. Malesuada varius a in hac augue at cursus. Ipsum leo, habitant posuere sed sed vitae. Viverra aliquam senectus ut at id nunc lectus id dignissim. Vulputate amet cras ac vitae. Mauris pretium duis eget risus et massa dolor. Amet lobortis ipsum etiam eget. Lorem integer scelerisque scelerisque sed tortor. Magna aenean tortor aliquam ultrices sit viverra sed. Pretium, vivamus sociis in consequat. In sit nullam at nunc nam arcu. Amet a eget amet, volutpat bibendum.
      .container.section
        .row
          -for(var i= 0; i < 5; i++)
            .col-lg-6.col-md-6
              .solution-card
                a(href="#")
                  .solution-card__image          
                    img.img-fluid(src=img+"solution-card.png", alt="")
                    .solution-card__title Стенды для космической промышленности
                .solution-card__description Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.
    include includes/footer
    include includes/bottom-scripts

solutions.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&display=swap&subset=cyrillic" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <title>Страница | Инженерный центр «АКВИЛ»</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <div class="logo">
                    <div class="logo__icon"><img class="img-fluid" src="img/icons/triangle.svg" width="20" alt=""></div><a class="logo__link" href="#">АКВИЛ</a>
                    <p class="logo__text">ИНЖЕНЕРНЫЙ ЦЕНТР<br>САМАРСКИЙ УНИВЕРСИТЕТ</p>
                </div><a class="nav-link navbar-nav__link phone navbar__phone" href="tel:+7(846)205-65-51">+7 (846) <span style="font-size:1.5em;">205-65-51</span></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-nav__item dropdown"><a class="nav-link navbar-nav__link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Что мы делаем</a>
                            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="navbarDropdown">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dropdown-menu-custom__submenu"><a class="dropdown-menu-custom__title dropdown-menu-custom__link" href="/solutions.html">Готовые решения</a>
                                                <ul>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Робототехника</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Автоматизация систем</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dropdown-menu-custom__submenu"><a class="dropdown-menu-custom__title dropdown-menu-custom__link" href="#">Исследования</a>
                                                <ul>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Лазерные измерения</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Акустика</a></li>
                                                    <li class="dropdown-menu-custom__item"><a class="dropdown-menu-custom__link" href="#">Материаловедение </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">О нас</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Новости</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Статьи</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#">Контакты</a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><img class="navbar-nav__icon" src="img/icons/globe.svg" width="20" alt=""></a></li>
                        <li class="nav-item navbar-nav__item"><a class="nav-link navbar-nav__link" href="#"><img class="navbar-nav__icon" src="img/icons/search.svg" width="20" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="after-fixed-navbar">
            <div class="section header-edition-2" style="background: linear-gradient(0deg, rgba(129, 109, 255, 0.77), rgba(129, 109, 255, 0.77)), url(&quot;../../img/header-2.png&quot;) no-repeat;background-size:cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active"><a href="/">Cтраница</a></li>
                                    </ol>
                                </nav>
                                <h1 class="header-edition-2__title">Заголовок страницы</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container section">
            <div class="row">
                <div class="col">
                    <p>Pellentesque placerat consequat tristique interdum aliquet. Hendrerit eu duis urna eu. Pellentesque tortor ac urna massa ultrices ipsum, commodo quis. Bibendum ullamcorper sit ullamcorper donec elementum. Vulputate mi vitae orci lectus enim ullamcorper venenatis. Ornare lectus felis, orci, gravida. Sed ornare nulla quisque at elit, sed. Leo urna sapien in nunc cursus amet volutpat. Cursus libero habitasse sollicitudin massa venenatis aliquet nec faucibus. Non sit nam ut mi, sodales senectus dolor lorem amet. Malesuada varius a in hac augue at cursus. Ipsum leo, habitant posuere sed sed vitae. Viverra aliquam senectus ut at id nunc lectus id dignissim. Vulputate amet cras ac vitae. Mauris pretium duis eget risus et massa dolor. Amet lobortis ipsum etiam eget. Lorem integer scelerisque scelerisque sed tortor. Magna aenean tortor aliquam ultrices sit viverra sed. Pretium, vivamus sociis in consequat. In sit nullam at nunc nam arcu. Amet a eget amet, volutpat bibendum.</p>
                </div>
            </div>
        </div>
        <div class="container section">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="solution-card"><a href="#">
                            <div class="solution-card__image"> <img class="img-fluid" src="img/solution-card.png" alt="">
                                <div class="solution-card__title">Стенды для космической промышленности</div>
                            </div>
                        </a>
                        <div class="solution-card__description">Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="solution-card"><a href="#">
                            <div class="solution-card__image"> <img class="img-fluid" src="img/solution-card.png" alt="">
                                <div class="solution-card__title">Стенды для космической промышленности</div>
                            </div>
                        </a>
                        <div class="solution-card__description">Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="solution-card"><a href="#">
                            <div class="solution-card__image"> <img class="img-fluid" src="img/solution-card.png" alt="">
                                <div class="solution-card__title">Стенды для космической промышленности</div>
                            </div>
                        </a>
                        <div class="solution-card__description">Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="solution-card"><a href="#">
                            <div class="solution-card__image"> <img class="img-fluid" src="img/solution-card.png" alt="">
                                <div class="solution-card__title">Стенды для космической промышленности</div>
                            </div>
                        </a>
                        <div class="solution-card__description">Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="solution-card"><a href="#">
                            <div class="solution-card__image"> <img class="img-fluid" src="img/solution-card.png" alt="">
                                <div class="solution-card__title">Стенды для космической промышленности</div>
                            </div>
                        </a>
                        <div class="solution-card__description">Id sed nisl viverra neque. Tristique cursus fusce eget sed ligula pharetra dolor porttitor. Ut libero elit eu sed. Gravida sit pulvinar faucibus maecenas et gravida. Ornare sed adipiscing viverra pretium. At commodo adipiscing volutpat ornare dictum.</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer__logo">
                                <div class="logo">
                                    <div class="logo__icon"><img class="img-fluid" src="img/icons/triangle.svg" width="20" alt=""></div><a class="logo__link" href="#">АКВИЛ</a>
                                    <p class="logo__text">ИНЖЕНЕРНЫЙ ЦЕНТР<br>САМАРСКИЙ УНИВЕРСИТЕТ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="footer__contacts">
                                <p>Самара, Московское шоссе, 154, корпус 1</p>
                                <p><a class="footer__contact" href="tel:+7-846-456-51-54"> +7-846-456-51-54</a>,<a class="footer__contact" href="tel:+7-927-135-46-12"> +7-927-135-46-12</a></p>
                                <p><a class="footer__contact" href="mailto:info@akvil.ru">info@akvil.ru</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer__nav footer__nav_main-menu">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__nav-link active" href="#">Главная</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Новости</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Статьи</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer__divider">
                    <div class="footer__nav">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__title footer__nav-link" href="#">Готовые решения</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Робототехника</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Стенды</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акустика</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">ИИ</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Автоматизация систем</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Платформа Стюарта</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer__divider">
                    <div class="footer__nav">
                        <ul>
                            <li class="footer__nav-item"><a class="footer__title footer__nav-link" href="#">Исследования</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Лазерные измерения</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акустика</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Материаловедение</a></li>
                            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Горение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/dev-scripts.js"></script>
    <!-- AutoScroll Script -->
    <script>
    </script>
</body>

</html>
